<!DOCTYPE html>
<html lang="ro">
<head>
    <title><%= titlu %> - Seedlingrounds</title>
    <%- include('../fragmente/head') %>
</head>
<body>
    <%- include('../fragmente/header') %>
    
    <main>
        <section class="container-eroare">
            <h1><%= titlu %></h1>
            <img src="<%= imagine %>" alt="Eroare: <%= titlu %>">
            <p><%= text %></p>
            
            <a href="/" class="btn-inapoi"><i class="fa-solid fa-house"></i> Înapoi la pagina principală</a>
        </section>
    </main>

    <%- include('../fragmente/footer') %>
</body>
</html>