<!DOCTYPE html>
<html lang="ro">
<head>
    <title><%= titlu %> - Seedlingrounds</title>
    <%- include('../fragmente/head') %>
    <link rel="stylesheet" href="/resurse/css/eroare.css" type="text/css"/>
</head>
<body>
    <%- include('../fragmente/header') %>
    
    <main class="main-eroare">
        <section class="container-eroare-overlay">
            <img src="<%= imagine %>" alt="Eroare" class="imagine-fundal-eroare">
            
            <div class="continut-eroare">
                <h2 class="titlu-eroare titlu"><%= titlu %></h2>
                <p class="descriere-eroare"><%= text %></p>
                <a href="/" class="btn-inapoi">Înapoi Acasă</a>
            </div>
        </section>
    </main>

    <%- include('../fragmente/footer') %>
</body>
</html>